@page "/search"
@inherits AppComponentBase

<div class="page-container">
    <div>
        <div style="padding-bottom: 0" class="row">
            <BitTypography Style="width: 100%" Variant="BitTypographyVariant.H6">Recent searchs</BitTypography>
            <BitLink Class="show-all">
                Show all <BitIcon IconName="@BitIconName.ChevronRight" />
            </BitLink>
        </div>
        <div class="row">
            <div class="jbi-item">
                <BitImage ImageFit="BitImageFit.Cover" Height="118" Width="118" Style="border-radius: 5px" Src="_content/Bit.Fluent.Player.Client.Core/images/covers/funk.jpg" />
                <div style="padding: 0 10px">
                    <BitLabel>Song title</BitLabel>
                    <BitTypography Style="width: 100%" Variant="BitTypographyVariant.Caption">Song Description</BitTypography>
                </div>
            </div>
            <div class="jbi-item">
                <BitImage ImageFit="BitImageFit.Cover" Height="118" Width="118" Style="border-radius: 5px" Src="_content/Bit.Fluent.Player.Client.Core/images/covers/miracle.jpg" />
                <div style="padding: 0 10px">
                    <BitLabel>Song title</BitLabel>
                    <BitTypography Style="width: 100%" Variant="BitTypographyVariant.Caption">Song Description</BitTypography>
                </div>
            </div>
            <div class="jbi-item">
                <BitImage ImageFit="BitImageFit.Cover" Height="118" Width="118" Style="border-radius: 5px" Src="_content/Bit.Fluent.Player.Client.Core/images/covers/eminem.jpg" />
                <div style="padding: 0 10px">
                    <BitLabel>Song title</BitLabel>
                    <BitTypography Style="width: 100%" Variant="BitTypographyVariant.Caption">Song Description</BitTypography>
                </div>
            </div>
            <div class="jbi-item">
                <BitImage ImageFit="BitImageFit.Cover" Height="118" Width="118" Style="border-radius: 5px" Src="_content/Bit.Fluent.Player.Client.Core/images/covers/one.jpeg" />
                <div style="padding: 0 10px">
                    <BitLabel>Song title</BitLabel>
                    <BitTypography Style="width: 100%" Variant="BitTypographyVariant.Caption">Song Description</BitTypography>
                </div>
            </div>
            <div class="jbi-item">
                <BitImage ImageFit="BitImageFit.Cover" Height="118" Width="118" Style="border-radius: 5px" Src="_content/Bit.Fluent.Player.Client.Core/images/covers/promises.webp" />
                <div style="padding: 0 10px">
                    <BitLabel>Song title</BitLabel>
                    <BitTypography Style="width: 100%" Variant="BitTypographyVariant.Caption">Song Description</BitTypography>
                </div>
            </div>
            <div class="jbi-item">
                <BitImage ImageFit="BitImageFit.Cover" Height="118" Width="118" Style="border-radius: 5px" Src="_content/Bit.Fluent.Player.Client.Core/images/covers/feels.jpg" />
                <div style="padding: 0 10px">
                    <BitLabel>Song title</BitLabel>
                    <BitTypography Style="width: 100%" Variant="BitTypographyVariant.Caption">Song Description</BitTypography>
                </div>
            </div>
            <div class="jbi-item">
                <BitImage ImageFit="BitImageFit.Cover" Height="118" Width="118" Style="border-radius: 5px" Src="_content/Bit.Fluent.Player.Client.Core/images/covers/how.jpg" />
                <div style="padding: 0 10px">
                    <BitLabel>Song title</BitLabel>
                    <BitTypography Style="width: 100%" Variant="BitTypographyVariant.Caption">Song Description</BitTypography>
                </div>
            </div>
        </div>
    </div>
</div>

