@import '../Styles/abstracts/_vars.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_bit-css-variables.scss';

.page-container {
    padding: 0;
}

.row {
    display: flex;
    gap: rem2(15px);
    overflow-x: auto;
    padding: rem2(25px);
    align-items: center;
}

.song-lists {
    display: flex;
    gap: rem2(15px);
    flex-wrap: wrap;
    padding: 0 rem2(25px);
}

.list-preview {
    display: flex;
    gap: rem2(10px);
    cursor: pointer;
    overflow: hidden;
    width: rem2(296px);
    position: relative;
    align-items: center;
    border-radius: rem2(5px);
    background-color: $bit-color-background-secondary;

    &:hover {
        background-color: $bit-color-background-primary;

        ::deep .play-btn {
            display: block;
        }
    }
}

.jbi-item {
    cursor: pointer;
    border-radius: rem2(5px);
    padding-bottom: rem2(8px);
    background-color: $bit-color-background-secondary;

    &:hover {
        background-color: $bit-color-background-primary;
    }
}

::deep {
    .show-all {
        display: flex;
        align-items: center;
        min-width: rem2(80px);
    }
}
