@import '../Styles/abstracts/_vars.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_bit-css-variables.scss';

:root {
    --bit-status-bar-height: 0px;
}

* {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

.bit-blazor-hybrid, .bit-blazor-electron {
    *:not(input) {
        -webkit-user-select: none;
        user-select: none;
    }
}

.bit-blazor-hybrid {
    &.bit-windows * {
        -webkit-user-drag: none;
    }
}

html, body, #app-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-container {
    width: 100%;
    display: flex;
    overflow: auto;
    padding: 0 rem2(16px);
    flex-flow: column nowrap;
    justify-content: flex-start;
    border: 1px solid $bit-color-border-disabled;
    background-color: $bit-color-background-secondary;
    height: calc(100vh - (rem2(51px) + $footerHeight + var(--bit-status-bar-height)));

    @include gt-md {
        border-start-start-radius: 5px;
    }
}
