@import '../Styles/abstracts/_vars.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_bit-css-variables.scss';

.footer {
    bottom: 0;
    z-index: 17;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    /*backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);*/
    border-top: 1px solid $bit-color-border-disabled;

    .bit-ios & {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

.footer-content {
    width: 100%;
    gap: rem2(4px);
    display: flex;
    position: relative;
    align-items: center;
    padding: rem2(4px) rem2(14px);
    justify-content: space-between;
    min-height: rem2($footerHeight);
}

.song-preview {
    display: flex;
    gap: rem2(10px);
    align-items: center;
    min-width: rem2(320px);
}

.settings {
    display: flex;
    gap: rem2(2px);
    min-width: rem2(320px);
    justify-content: flex-end;
}

.controls {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: rem2(320px);

    .main-controls {
        gap: 4px;
        display: flex;
    }

    .main-slider {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1012px) {
    .song-preview {
        display: none;
    }

    .controls {
        width: 100%;
        height: 100%;
        align-items: center;
        flex-flow: column-reverse;

        .main-controls {
            padding: rem2(16px);
        }
    }

    .settings {
        display: none;
    }
}

::deep {
    .like-btn {
        padding: unset;
        border-radius: 50%;
        border-style: unset;
        min-width: rem2(32px);
        background-color: transparent;

        &:hover {
            background-color: $bit-color-action-hover-background-primary;
        }
    }

    .play-btn {
        padding: unset;
        border-radius: 50%;
        border-style: unset;
        min-width: rem2(32px);
    }

    .volume-btn {
        padding: unset;
        color: dodgerblue;
        border-radius: 50%;
        border-style: unset;
        min-width: rem2(32px);
        background-color: transparent;

        &:hover {
            background-color: $bit-color-action-hover-background-primary;
        }
    }

    .bit-mnb-cal {
        right: 10px !important;
        left: unset !important;
        transform: translate3d(0, 0, 0);
    }

    .bit-mnb-omn .bit-mnb-cal {
        transform: translate3d(0, rem2(-10px), 0);
    }

    .see-more {
        gap: unset;
        padding: 0 8px;
        min-width: unset;
        border-radius: 50%;
        border-style: unset;
        background-color: transparent;

        &:hover {
            background-color: $bit-color-action-hover-background-primary;
        }

        &:active {
            background-color: $bit-color-action-active-background-primary;
        }
    }
}
