@inherits LayoutComponentBase

<div class="status-bar">Bit.Fluent.Player</div>

<Header OnToggleMenu=ToggleMenuHandler />

<div class="main main--authenticated">
    <div class="main-content">
        <NavMenu @bind-IsMenuOpen=_isMenuOpen />
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
    </div>
    <Footer />
</div>

<MessageBox />
<NewPlaylistModal />
