@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_bit-css-variables.scss';

.main {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    padding: 0 rem2(16px);
    flex-flow: column nowrap;
    justify-content: flex-start;
    border-start-start-radius: 5px;
    background-color: $bit-color-background-secondary;
    height: calc(100vh - (rem2(48px) + var(--bit-status-bar-height)));
}

.title {
    font-weight: 600;
    font-size: rem2(120px);
    line-height: rem2(168px);

    @include lt-xl {
        font-size: rem2(100px);
    }
}

.description {
    font-weight: 400;
    font-size: rem2(18px);
    line-height: rem2(28px);

    @include lt-xl {
        font-size: rem2(16px);
        line-height: rem2(24px);
    }
}
